<!DOCTYPE plugin PUBLIC "-//Oxygen Plugin" "../plugin.dtd">
<plugin
 id="contribute.excel2007.libs.addon"
 name="Contribute libraries to Oxygen which make it possible to import Excel 2007 libraries"
 description="Contribute libraries to Oxygen which make it possible to import Excel 2007 libraries"
 version="1.0"
 vendor="Radu Coravu"
 class="ro.sync.exml.plugin.Plugin"
 classLoaderType="preferReferencedResources">
 <extension type="WorkspaceAccessJS" href="wsAccess.js"/>
 <runtime>
  <librariesFolder name="lib" scope="global"/>
 </runtime>
</plugin>
