<!DOCTYPE plugin PUBLIC "-//Oxygen Plugin" "../plugin.dtd">
<plugin
 id="oxygenxml.xlsx.import"
 name="Contribute libraries to Oxygen which make it possible to import Excel XLSX libraries"
 description="Contribute libraries to Oxygen which make it possible to import Excel 2007 and newer XLSX libraries"
 version="1.0"
 vendor="Syncro Soft"
 class="ro.sync.exml.plugin.Plugin"
 classLoaderType="preferReferencedResources">
 <extension type="WorkspaceAccessJS" href="wsAccess.js"/>
 <runtime>
  <librariesFolder name="lib" scope="global"/>
 </runtime>
</plugin>
